.hidden {
    display: none;
}

.offer-box1 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.offer-content1 {
    display: flex;
    justify-content: space-between;
}

.offer-content img {
    width: 65%;
    height: auto;
}

.offer-details1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-details p1 {
    margin: 5px 0;
}