body {
    background-color: blue;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

nav button, nav a {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-color: black;
}

.hidden {
    display: none;
}

main {
    padding: 20px;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 5%;
}

.car img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.view-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #0056b3;
}

.footer-section p, .footer-section ul {
    margin: 5px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #0056b3;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section img {
    width: 24px;
    margin: 0 5px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    background-color: #e9e9e9;
    border-top: 1px solid #ccc;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}