.hidden {
    display: none;
}

.offer-box2 {
    border: 1px solid black;
    padding: 10px;
    margin-left: 300px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 60%;
    height: 45%;
    box-sizing: border-box;
    border-radius: 5%;
}

.offer-box2_2 {
    border: 1px solid black;
    padding: 10px;
    margin-left: 300px;
    margin-bottom: 0px;
    width: 60%;
    height: 45%;
    box-sizing: border-box;
    border-radius: 5%;
}

.offer-content1 {
    display: flex;
    justify-content: space-between;
}

.offer-content img {
    width: 65%;
    height: auto;
    border-radius: 5%;
}

.offer-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-details p1 {
    margin: 5px 0;
}